---
import { getCollection } from "astro:content";
import {excludeDrafts} from "@/functions";

export async function getStaticPaths() {
  const posts = await getCollection('posts', excludeDrafts);
  const years = [...new Set(posts.flatMap((p) => p.data.postDate.getFullYear()))];
  return years.map(year => ({
    params: { year: year },
    props: { year: year }
  }));  
}

const { year } = Astro.props;
---
<!doctype html>
<html>
<head>
  <title>Redirecting to: /{year}/{year}/1</title>
  <meta http-equiv="refresh" content={`0;url=/${year}/${year}/1`}>
  <meta name="robots" content="noindex">
  <link rel="canonical" href={`https://snape.me/${year}/${year}/1`}>
</head>
<body>
  <a href={`/${year}/${year}/1`}>Redirecting from <code>/{year}</code> to <code>/{year}/{year}/1</code></a>
</body>
</html>
