---
import { getCollection } from "astro:content";
import { excludeDrafts } from "@/functions";

export async function getStaticPaths() {
  const posts = await getCollection("posts", excludeDrafts);

  const dateStrings = [
    ...new Set(
      posts.map((p) => {
        const date = p.data.postDate;
        const year = date.getFullYear();
        const month = date.getMonth();
        return `${year}-${month}`;
      }),
    ),
  ];
  return dateStrings.map((ds) => {
    const [year, month] = ds.split("-").map(Number);
    return {
      params: {
        year: String(year),
        month: month < 9 ? "0" + (1 + month) : String(1 + month),
      },
      props: {
        year: year,
        month: month < 9 ? "0" + (1 + month) : String(1 + month),
      },
    };
  });
}

const { year, month } = Astro.props;
---

<!doctype html>
<html>
  <head> <title>Redirecting to: /{year}</title></head>/{month}
  <meta http-equiv="refresh" content={`0;url=/${year}/${month}`} />
  <meta name="robots" content="noindex" />
  <link rel="canonical" href={`https://snape.me/${year}/${month}`} />

  <body>
    <a href={`/${year}/${month}`}
      >Redirecting from <code>/{year}/{month}/1</code> to <code
        >/{year}/{month}</code
      ></a
    >
  </body>
</html>
