---
import { ITEMS_PER_PAGE } from '@/consts';
import SidebarLayout from "@/layouts/SidebarLayout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from 'astro:content';
import BlogPostArticle from "@components/BlogPostArticle.astro";
import {excludeDrafts, sortBlogPosts} from "@/functions";
import Pagination from "@philnash/astro-pagination";
import type { Page } from 'astro';

export async function getStaticPaths({ paginate }: any) {
  const posts = await getCollection('posts', excludeDrafts);
  const tags = [...new Set(posts.flatMap((p) => p.data.tags))];
  
  return tags.flatMap(tag => {
    const tagPosts = posts.filter(p => p.data.tags.includes(tag));
    
    return paginate(sortBlogPosts(tagPosts), {
      params: { tag },
      pageSize: ITEMS_PER_PAGE
    });
  });
}

type Props = {
	page: Page<CollectionEntry<"posts">>;
};

const { page } = Astro.props;
const { tag } = Astro.params;

const pageTitle = "Tag Archives: #" + tag;
---

<SidebarLayout pageTitle={pageTitle}>
	{page.lastPage > 1 && (
		<div class="pagination items-center flex mb-6">
		<Pagination page={page} urlPattern={`/tag/${tag}/{}`} firstPageUrl={`/tag/${tag}`} />
		</div>
	)}
	<ul class="divide-y divide-gray-200 dark:divide-gray-700">
		{!page.data.length && 'No posts found.'}
		{page.data.map((post) => <li><BlogPostArticle post={post} homepage={true}/></li>)}
	</ul>
	{page.lastPage > 1 && (
		<div class="pagination items-center flex">
		<Pagination page={page} urlPattern={`/tag/${tag}/{}`} firstPageUrl={`/tag/${tag}`} />
		</div>
	)}
</SidebarLayout>
