---
import { Image } from 'astro:assets';

interface Props {
    post: any;
    homepage: boolean;
}

import FormattedDate from "@/components/FormattedDate.astro";
import Link from "@/components/Link.astro";

const { post, homepage } = Astro.props;
const { title, description, postDate, tags, categories, image } = post.data;
const { Content } = await post.render();

const SITE = encodeURIComponent(import.meta.env.SITE);
const pageUrl = encodeURIComponent(`${import.meta.env.SITE}/${post.slug}`)
const tagList = encodeURIComponent(tags.map((t:string) => (' #'+t.replace('-',''))).join(' '));
const tweetUrl = `https://twitter.com/intent/tweet?original_referer=${SITE}&screen_name=jamessnape&text=${pageUrl}+${tagList}`;
// const linkedInUrl = `https://www.linkedin.com/sharing/share-offsite/?url=${pageUrl}`;
const linkedInUrl = `https://www.linkedin.com/feed/?shareActive=true&text=${pageUrl}+${tagList}`;

---
<article class="prose my-6">
    <div class="md:col-span-3">
        {image &&
            <Image src={image.src} alt={image?.alt} />
        }
        <div class="space-y-6">
            <div>
                {homepage &&          
                <h2 class="text-2xl font-bold leading-8 tracking-tight">
                    <Link href={`/${post.slug}`}>
                        {title}
                    </Link>
                </h2>
                }
            </div>
            <p><em>{description}</em></p>
            <div class="prose">
                <Content />
            </div>
            <div class="text-sm">
                This entry was posted in
                <em>
                    {categories.map((cat:string) => (
                        <a href={`/category/${cat}`}>{cat}</a><span>&nbsp</span>
                    ))}
                </em>
                and tagged {tags.map((tag:string) => (
                    <a href={`/tag/${tag}`}>#{tag}</a><span>&nbsp</span>
                ))}
                on <FormattedDate date={postDate}/>.<br/>
                Discuss this on 
                <a class="btn btn-xs btn-primary" target="_blank" href={tweetUrl}>Twitter <i class="fa-brands fa-twitter"></i></a> or 
                <a class="btn btn-xs btn-primary" target="_blank" href={linkedInUrl}>LinkedIn <i class="fa-brands fa-linkedin"></i></a>
            <div>
    </div>
    </div>
</article>

