---
interface Props {
    post: any;
    homepage: boolean;
}

import FormattedDate from "@/components/FormattedDate.astro";
import Link from "@/components/Link.astro";

const { post, homepage } = Astro.props;
const { title, description, postDate, tags, categories } = post.data;
const { Content } = await post.render();

---
<article class="prose my-6">
    <div class="xl:col-span-3">
        {post.image &&
            <img src={post.image?.url} alt={post.image?.alt} />
        }
        <div class="space-y-6">
            <div>
                {homepage &&          
                <h2 class="text-2xl font-bold leading-8 tracking-tight">
                    <Link href={`/${post.slug}`}>
                        {title}
                    </Link>
                </h2>
                }
            </div>
            <p><em>{description}</em></p>
            <div class="prose">
                <Content />
            </div>
            <div class="text-sm">
                This entry was posted in
                <em>
                    {categories.map((cat:string) => (
                        <a href={`/category/${cat}`}>{cat}</a><span>&nbsp</span>
                    ))}
                </em>
                and tagged {tags.map((tag:string) => (
                    <a href={`/tag/${tag}`}>#{tag}</a><span>&nbsp</span>
                ))}
                on <FormattedDate date={postDate}/>.
            <div>
    </div>
    </div>
</article>

