---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  const tags = [...new Set(posts.flatMap((p) => p.data.tags))];
  return tags.map(tag => ({
    params: { tag: tag },
    props: { tag: tag }
  }));  
}

const { tag } = Astro.props;
---
<!doctype html>
<html>
<head>
  <title>Redirecting to: /tag/{tag}/1</title>
  <meta http-equiv="refresh" content=`0;url=/tag/${tag}/1`>
  <meta name="robots" content="noindex">
  <link rel="canonical" href={`https://snape.me/tag/${tag}/1`}>
</head>
<body>
  <a href={`/tag/${tag}/1`}>Redirecting from <code>/tag/{tag}</code> to <code>/tag/{tag}/1</code></a>
</body>
</html>
